-i https://pypi.org/simple
beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.18.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
line-bot-sdk==1.14.0
MarkupSafe==1.1.1
peewee==3.12.0
pygraphviz==1.5
python-dotenv==0.10.3
requests==2.22.0
six==1.12.0
soupsieve==1.9.5
transitions==0.6.9
urllib3==1.25.6
Werkzeug==0.16.0
